@font-face {
    src: url(/assets/fonts/Outfit-VariableFont_wght.ttf);
    font-family: "Outfit";
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit";
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #FDD23C;
}

.inner_body {
    max-width: 1920px;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

#overlay {
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    z-index: 998;
}

.d_none {
    display: none !important;
}

.d_flex {
    display: flex;
}

#content h2 {
    padding-top: 16px;
}

h2 {
    text-transform: capitalize;
    margin: 0;
}

h3 {
    text-transform: capitalize;
    margin: 0;
}

.detailed_card_content p {
    text-transform: capitalize;
}