.titel {
    display: flex;
    flex-direction: row;
    margin-left: 32px;
}

#search-bar {
    margin-right: 32px;
    height: 32px;
    font-size: 16px;
}

.pokeball {
    width: 40px;
    height: auto;
    object-fit: contain;
    margin-top: 22px;
    filter: drop-shadow(2px 4px 6px black);
}

#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    place-content: center;
    gap: 48px;
    width: 80%;
    margin: auto;
    padding-top: 120px;
}

.pokemon_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    outline: 1px solid black;
    filter: drop-shadow(2px 4px 6px black);
}

.pokemon_card:hover {
    outline: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

.pokemon_card_container {
    display: flex;
    flex-direction: row;
}

.pokemon_sprite {
    width: 160px;
    height: auto;
}

.type_container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
    gap: 16px;
    padding-left: 24px;
}

.normal {
    background-color: #9FA19F;
}

.fighting {
    background-color: #FF8000;
}

.flying {
    background-color: #81B9EF;
}

.poison {
    background-color: #9040CA;
}

.ground {
    background-color: #915121;
}

.rock {
    background-color: #AFA981;
}

.bug {
    background-color: #91A119;
}

.ghost {
    background-color: #704170;
}

.steel {
    background-color: #60A1B8;
}

.fire {
    background-color: #E52829;
}

.water {
    background-color: #2980EF;
}

.grass {
    background-color: #3FA129;
}

.electric {
    background-color: #FAC000;
}

.psychic {
    background-color: #EF4179;
}

.ice {
    background-color: #3DCEF3;
}

.dragon {
    background-color: #5060E0;
}

.dark {
    background-color: #624D4E;
}

.fairy {
    background-color: #EF70EF;
}

#controls {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 24px;
    padding-bottom: 32px;
    margin-bottom: auto;
}

.control_button {
    padding: 10px 15px;
    font-size: 18px;
    width: 112px;
    border: none;
    background-color: #242B2E;
    outline: 1px solid black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.control_button:hover {
    background-color: #314249;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(71, 70, 70, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid transparent;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


#detailed_content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detailed_card {
    background-color: rgb(44, 42, 42);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 12px 12px;
    outline: 1px solid black;
    color: rgb(0, 0, 0);
    width: 360px;
    position: fixed;
    top: 24px;
    z-index: 999;
}

.close-detailed-card {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-right: 40px;
    position: absolute;
    top: 0;
    color: #c5c5c5;
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    border-bottom: 1px solid black;
    color: #c5c5c5;
    height: 40px;
}

.close {
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
}

.close:hover {
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
    color: rgb(134, 7, 7);
}

.pkm_img {
    width: 100%;
    height: 100%;
}

.detailed_pokemon_sprite {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.tab-bar {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: #c5c5c5;
}

.tabs:hover {
    filter: drop-shadow(2px 4px 6px black);
    cursor: pointer;
    background-color:  #FDD23C; 
    color: black;
    font-weight: bold;
}

.tabs.active {
    background-color: #FDD23C; 
    color: rgb(0, 0, 0);
    font-weight: bold;
}

#details {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.detailed_card_content {
    width: 100%;
    min-height: 360px;
}

.stats-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px; 
    color: #c5c5c5;
}

.stat {
    display: flex;
    width: 100%;
    align-items: center; 
    flex-direction: row;
}

.stat-name-container {
    width: 50%;
}

.stat-name {
    text-align: left;
    font-weight: bold;
    width: 60%;
    margin-left: 16px;
}

.stat-value {
    margin-right: 24px;
}

.stat-bar {
    width: 40%; 
    height: 12px;
    background-color: #ddd;
    border-radius: 6px;
    overflow: hidden;
}

.stat-fill {
    height: 100%;
    border-radius: 6px;
    transition: width 0.5s ease-in-out;
}

.details-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-top: 24px;
}

.details-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #c5c5c5;
}

.details-content p {
    margin-left: 16px;
    margin-right: 16px;
    font-weight: bold;
}

.details-value {
    text-transform: lowercase !important;
}

.detail-types {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px;
}

.detail-types p {
    margin: 0;
}

.shiny-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shiny-pkmn-sprite {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.nav-button {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #FDD23C;
    filter: drop-shadow(2px 4px 6px black);
}

.nav-button:hover {
    color: #ffdf29;
    font-size: 40px;
}

.nav-button.left {
    left: 10px;
}

.nav-button.right {
    right: 10px;
}

@media (max-width: 1150px) {
    #content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 850px) {
    #content {
        grid-template-columns: repeat(3, 1fr);
    }
    .pokemon_sprite {
        width: 96px;
    }
}

@media (max-width: 580px) {
    #content {
        grid-template-columns: repeat(2, 1fr);
    }

    .pokemon_sprite {
        width: 80px;
    }

    #search-bar {
        margin: 0;
        margin-bottom: 8px;
    }

    .titel {
        margin: 0;
    }

    .nav-button {
        top: 25%;
    }

    .pkm_img {
        display: flex;
        justify-content: center;
    }

    .detailed_pokemon_sprite {
        width: 160px;
    }

    .shiny-pkmn-sprite {
        width: 160px;
    }

    .shiny-container {
        height: 100%;
    }
}

@media (max-width: 550px) {
    #content {
        padding-top: 280px;
    }
}

@media (max-width: 400px) {
    .type_container {
        padding: 0;
    }
    .detailed_card {
        width: 100%;
        top: 0;
        bottom: 0;
    }

    .pokemon_card h2{
        font-size: 16px;
    }
}